body{font-family:Barlow,sans-serif;font-size:14px;overflow-x:hidden}
.pal-logo{max-width:120px}
header .navbar{padding-left:0;padding-right:0}
header .navbar-light .navbar-nav .nav-link{color:rgba(0,0,0,.9);padding:10px 13px;position:relative}
header .navbar-light .navbar-nav .nav-link img{vertical-align:text-bottom}
header .nav-profile{background:#ffc950;width:34px;height:34px;border-radius:100%;padding:6px!important;text-align:center;color:#fff!important;margin-left:10px}
header .badge{background:#ef4224;color:#fff;border-radius:100%;position:absolute;top:5px;right:6px}
.home-left,.main-wrap{padding-bottom:35px}
.breadcrumb{background:0 0;padding-left:0;padding-right:0;margin-bottom:0}
.home-tabs .nav-tabs{border-bottom:3px solid #dee2e6}
.home-tabs .nav-tabs .nav-item{margin-bottom:-2px}
.home-tabs .nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active{color:#000;background-color:transparent;border-color:transparent transparent #f3f3f3;border-bottom:4px solid!important;font-size:20px;font-weight:700}
.home-tabs .nav-tabs .nav-link{text-align:left;border:1px solid transparent;color:#000;font-size:20px;flex-grow:initial;padding-left:30px;padding-right:30px}
.home-tabs .nav-tabs .nav-link:first-child{padding-left:0}
.panel-head{background:#3e3e3e;color:#fff;padding:10px 20px}
.panel-head h5 span{font-size:16px;font-weight:lighter;margin-left:6px}
.home-right h2{font-weight:700;margin-bottom:20px}
.bge-bx div{text-align:center;background:#f2f2f2;margin-top:5px;padding:2px;border-radius:5px;font-weight:500}
.home-item h6{color:#707070;font-weight:600}
.home-item p{margin-bottom:8px}
.home-item-bm span{margin-right:10px;color:#4d4f5c;font-size:12px}
.home-item-bm .material-icons{font-size:6px!important;vertical-align:middle}
.home-item-bm .float-md-right{display:inline-block}
.home-item-bm .float-md-right a{color:#4d4f5c;margin-left:15px;font-weight:600;font-size:12px}
.home-item-bm span.orange-text,.orange-text{color:#f27921}
.home-item-bm span:last-child{margin-right:0}
.home-item .badge{background:#fff;color:#4d4f5c;border:1px solid #000;font-size:13px;padding:5px 12px;font-weight:600;margin-right:8px}
.hm-img{margin-bottom:-48px;border:1px solid #4d4f5c;border-radius:13px}
footer{background:#272727;color:#fff;padding:20px 50px;font-size:13px}
footer p{margin-bottom:0}
.navbar-light .navbar-toggler{border:none;outline:0}
.srch-icon{width:100%;border:1px solid #e8e9ec!important;border-radius:4px;display:inline-block;background:url(../images/fa_search.svg) #f8f8f8;background-position:18px center;background-repeat:no-repeat;padding:0 10px 0 50px!important;height:45px;font-weight:500;vertical-align:middle}
.mobile-notify{position:absolute;right:92px;top:26px;z-index:1}
.mobile-notify img{position:relative;width:25px}
.mobile-notify span{position:absolute;right:0;top:2px;color:#fff;width:26px;text-align:center}
.mobile-notify,.mobile-title-wrap,.visible-mbv,header .ar-tag{display:none}
.breadcrumb-item.active{color:#f27921}
.concept-head h2{font-weight:600;color:#707070}
.concept-head .home-item-bm span{font-size:14px}
.concept-right p{font-size:15px;color:#4d4f5c}
.concept-right p b{font-weight:600;font-size:18px}
.concept-left h4{font-weight:700;font-size:24px}
.concept-left h4 a{font-size:16px;color:#4d4f5c;margin-top:12px;font-weight:600}
.concept-value{border-radius:10px;border:1px solid #000;padding:20px;color:#4d4f5c;font-weight:600;text-align:center;margin-bottom:15px}
.mpl-15{padding-left:15px;padding-right:15px}
.concept-right{padding-top:168px}
.modal .close{font-size:15px;opacity:1;margin-top:16px;outline:0}
/* chat view */
.message-body{padding:22px 15px;border:1px solid #e8e9ec;max-height:585px;overflow-y:auto;padding-bottom:66px}
.message-left{text-align:left}
.message-right{text-align:right}
.message-item{background:#edf0f5;border-radius:16px 16px 16px 0;padding:6px 10px;word-break:break-word;display:inline-block;max-width:70%}
.message-right .message-item{border-radius:16px 16px 0 16px;background:#3b86ff;color:#fff}
.msg-time{font-size:11px;color:#a1a0ae;margin-top:5px}
.ques-item{border:1px solid #afafaf;border-radius:16px 16px 0 0}
.ques-item h6{border-bottom:1px solid #afafaf;padding:14px;background:#f0f0f0;border-radius:16px 16px 0 0}
.ques-options .d-flex{color:#3b86fc;border:1px solid #3b86fc;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;min-width:150px;outline:0;background:0 0}
.ques-options .d-flex .col:first-child{flex-grow:inherit;font-weight:700}
.ques-options .d-flex .col:last-child{font-weight:500;padding-left:0}
.message-footer,.message-footer .input-group-append button,.message-footer input{background:#f5f6fa}
.message-footer .input-group-append button,.message-footer input{border:none}
.message-footer{padding:8px 0;position:absolute;bottom:0;left:0;width:100%}
.message-footer .input-group-append button{border:none;outline:0}
.message-footer .input-group-append:first-child{border-right:1px solid #e8e9ec}
.message-footer input,.message-footer input::placeholder{color:#a4afb7}
.message-item.wrong{background:#ffbcbc}
.message-item.correct{background:#bcffc9}
.chat-img{max-height:200px}
.chat-completed .d-flex{width:100%}
.cursor{cursor:pointer}
.chat-completed{position:absolute;bottom:46px;width:98%;padding:0 11px 0 13px;padding-bottom:5px;left:1px;background:#fff}
.bot-chat.completed .message-body{padding-bottom:258px}
/* chat view */
@media screen and (max-width:992px){
.chat-completed{width:99%;padding:0 7px 5px 13px}
}
@media screen and (max-width:991px){
header{position:relative}
.mobile-notify,header .navbar-light .navbar-nav .nav-link{display:inline-block}
header .navbar-collapse{position:fixed;background:#fff;border-right:5px solid #ccc;z-index:1;top:0;height:100%!important;left:0;overflow-y:auto}
.arrow-head .mobile-notify,.concept-wrap .nav-brd{display:none}
.arrow-head i{font-size:26px}
.mobile-title-wrap,header.arrow-head .ar-tag{display:block}
.concept-head,header.arrow-head .lg-tag{display:none}
.concept-right{padding-top:5px}
.mobile-title-wrap{padding:25px 0;background:#7c39ea;color:#fff;margin-bottom:33px;border-radius:0 0 10px 10px}
.mobile-title-wrap .home-item-bm{margin-top:15px}
.mobile-title-wrap .home-item-bm span{color:#fff}
.mobile-title-wrap .home-item-bm .material-icons i{margin-top:7px}
.mobile-title-wrap .home-item-bm span:last-child{display:inline-block}
.mobile-title-wrap .home-item-bm .material-icons{vertical-align:text-top}
.mobile-title-wrap .btn{background:#313131;color:#fff;text-align:center;font-size:18px;border-radius:12px;padding:7px 40px;margin-bottom:-62px}
.mbimg-wrap{margin:0 -15px;width:111%!important;margin-top:-32px}
.arrow-head.bg{background:#7c39ea}
.arrow-head.bg i{color:#fff}
.mbimg-wrap .img-fluid{width:100%}
.chat-head .home-item-bm,.home-right{display:none}
.chat-head.concept-head,.modal .home-right{display:block}
.chat-head h2{font-weight:400;font-size:16px}
.hide-footer footer{display:none}
body.hide-footer,body.hide-footer .main-wrap{padding-bottom:10px}
}
@media screen and (max-width:767px){
body{padding-bottom:50px}
.hidden-mbv{display:none}
footer{text-align:center;position:fixed;bottom:0;width:100%;padding:15px 22px}
.visible-mbv{display:block}
.home-item-bm span{margin-right:5px}
.concept-left h4{font-size:18px}
.concept-left h4 a{margin-top:5px}
.message-body{border:none}
.bot-chat .panel-head{display:none}
body.hide-footer .container{max-width:100%}
.message-footer{position:fixed}
.chat-completed{position:fixed;bottom:47px}
}
@media screen and (max-width:575px){
.p-mlr-0{padding-left:0;padding-right:0}
.home-item,.home-left h3,.p-ml-0{padding-left:0!important}
.hm-img{margin-bottom:0}
.home-item-bm span:last-child{display:block}
.home-item-bm .float-md-right a{margin-left:0}
.home-item-bm .float-md-right{margin-bottom:8px;margin-top:8px}
.home-tabs .nav-tabs .nav-link{font-size:16px;padding-right:24px}
.home-right h2{font-size:26px}
.modal .close{margin-top:11px}

}